version: 2
updates:
  - package-ecosystem: docker
    directories:
      - "/"
      - "/server"
      - "/webapp"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "dependencies"
      - "docker"
  - package-ecosystem: gomod
    directory: "/server"
    schedule:
      interval: weekly
      day: monday
    groups:
      golang:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "go"
  - package-ecosystem: npm
    allow:
      - dependency-type: production
    directory: "/webapp"
    schedule:
      interval: weekly
      day: monday
    groups:
      npm:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "javascript"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "dependencies"
      - "github-actions"
