.i-circle-play {
  content: url("../../../assets/circle_play.svg");
  width: 1rem;
  height: 1rem;
}

.i-circle-pause {
  content: url("../../../assets/circle_pause.svg");
  width: 1rem;
  height: 1rem;
}

.i-plus {
  content: url("../../../assets/plus.svg");
  width: 1rem;
  height: 1rem;
  filter: invert(99%) sepia(93%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);;
}

.i-minus {
  content: url("../../../assets/minus.svg");
  width: 1rem;
  height: 1rem;
  filter: invert(99%) sepia(93%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
}

.i-forward_step {
  content: url("../../../assets/forward_step.svg");
  width: 1rem;
  height: 1rem;
  filter: invert(99%) sepia(93%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
}

.i-backward_step {
  content: url("../../../assets/forward_step.svg");
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
  filter: invert(99%) sepia(93%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
}