services:
  website:
    build:
      context: ../
    ports:
      - 5000:5000
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ENVIRONMENT=test
      - GIN_MODE=release
      - PORT=5000
      - DATABASE_URL=postgres://postgres:password@db:5432/uwpokerclub?sslmode=disable
      - DATABASE_TLS_PARAMETERS=
    networks:
      - services
    security_opt:
      - "seccomp:unconfined"
  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=uwpokerclub
    ports:
      - 5432:5432
    networks:
      - services
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker -d uwpokerclub"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
networks:
  services:
    name: uwpokerclub_services_network
    external: true

