.Memberships__header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.Transactions__header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.Semester {
  &__highlights {
    margin: 0.5rem 0;
    display: flex;
  }

  &__highlight-item {
    margin: 0 0.5rem;
  }
}