.Memberships__header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  &__search {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &-button {
      white-space: nowrap;
    }
  }
}

.Transactions__header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.Semester {
  &__highlights {
    margin: 0.5rem 0;
    display: flex;
  }

  &__highlight-item {
    margin: 0 0.5rem;
  }
}
