.container {
  width: 50%;
  padding: 1rem 0;
}

.header h3 {
  margin-bottom: 0;
  font-weight: bold;
}

.subHeader {
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: bolder;
}

.body {
  line-height: 1.75em;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    padding: 1rem 0;
  }
}