.ps-club-logo {
  width: auto;
  height: 250px;
}

.center {
  text-align: center;
}

.blog {
  border-top: 3px solid #d3d3d396;
  width: 50%;
  margin: 1em auto 1em auto;
  padding: 1em 0 1em 0;
}

.blog-title {
  margin-bottom: 0;
  font-weight: bold;
}

.blog-subheader {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: bolder;
}

.blog-body {
  line-height: 1.75em;
}

.blog-list {
  text-align: left;
}

.btn-group-sub {
  margin-top: 0.5em;
}

.btn-group-sub .btn {
  margin: 0 0.5em 0 0.5em;
}

.margin-center {
  margin: auto;
}
