@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

@include media-breakpoint-down(sm) { 
    .navbar-brand img {
        height: 2.5rem !important;
        margin-left: 0rem !important;
    }
}

.navbar {
  background: rgba(0, 0, 0, 0) !important;
  text-transform: uppercase;
  font-weight: 700;
//   font-size: 1.1rem;
//   letter-spacing: .03rem;
}


.collapse {
    background: rgba(0, 0, 0, 0) !important;
}

.navbar-brand img {
    height: 3.5rem;
    margin-left: 2rem;
}

.navbar-nav li {
    padding-right: .5rem;
    margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    // padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f4b80f;
}

.nav-alt {
    border: 1.5px solid #f4b80f;
    border-radius: .4rem;
}

.nav-alt.active,
.nav-alt:hover {
    color: white !important;
    background: #f4b80f;
    border: 1.5px solid white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-toggler,
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
