#bg-img-cloth {
  background: url("../../../../../assets/SpeedCloth.png") no-repeat center;
  background-size: cover;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.socials-list li {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.35);
  border: 0.08rem solid white;
  border-radius: 1rem;

  margin: 1.5rem 0 1.5rem 0;
  width: 20rem;

  display: flex;
  align-items: center;
}

.socials-list li.highlight {
  border: 0.08rem solid goldenrod;
  border-radius: 1rem;
}

.socials-list li.highlight a.text-link {
  color: goldenrod !important;
}

.socials-list a,
.socials-list a.active,
.socials-list a:hover {
  display: flex;
  align-items: center;

  padding: 1.4rem;
  width: 100%;
  height: 100%;
}
