@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --black: #101014;
  --white: #e1e1e5;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.center {
  text-align: center;
}

.panel-heading > h3 {
  margin-top: 10px;
}

.layout {
  display: flex;
}
