.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.tab {
  cursor: pointer;
  padding: 0 2rem 0.25rem;
}

.tabActive,
.tab:hover {
  border-bottom: 1px solid #5497ef;
}

.header {
  display: flex;
  justify-content: space-around;
}

.addBtn {
  margin-top: 1rem;
}