@media (max-width: 768px) {
  .btn-responsive {
    display: block;
    margin: 10px 0;
    line-height: 2em;
    width: 100%;
  }
}

.btn-group-sub .btn {
  margin: 0 0.5em 0 0.5em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.margin-center {
  margin: auto;
}

.Button__group {
  display: flex;
}

.Participants {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(15, 19, 24, 0.12);
  padding: 1em;
  margin-top: 1em;

  &__header {
    display: flex;
  }

  &__submit {
    padding-top: 1em;
  }

  &__list {
    max-height: 75vh;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em;

    &-danger {
      background-color: #f0bcc2 !important;
    }

    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &:hover {
      background-color: #d3d3d3 !important;
      cursor: pointer;
    }

    &-checkbox {
      padding: 0 1em;
    }

    &-checkbox input[type="checkbox"] {
      height: 1em;
      width: 1em;
      border: 3px solid transparent black;
    }

    &-title {
      font-size: 1rem;
    }

    &-student_id {
      padding: 0 1em;
      font-size: 1rem;
    }
  }
}

.Structures {
  &__tab-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
  }

  &__tab {
    cursor: pointer;
    padding: 0 2rem 0.25rem;

    &-active,
    &:hover {
      border-bottom: 1px solid #5497ef;
    }
  }
}

.StructureBlinds {
  &__header {
    display: flex;
    justify-content: space-around;
  }

  &__add {
    margin-top: 1rem;
  }
}
