.EventDetails {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info {
    flex-grow: 4;
  }

  &__actions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0.5rem;
  }
}

.TabGroup {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;

  & .Tab {
    cursor: pointer;
    padding: 0 2rem 0.25rem;

    &:hover {
      border-bottom: 1px solid #5497ef;
    }
  }

  & .Tab.Tab-active {
    border-bottom: 1px solid #5497ef;
  }
}

// TODO: fix this hack
.grid {
  width: auto !important;
  height: auto !important;
}

.grid.grid-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
}

.input-group .form-control {
  margin: 0.5rem 0;
}
